// COLOR VARS
$color-primary: #BC001F;
$color-secondary: #1A1A1A;
$color-grey: #F8F8F8;

// MEDIA QUERIES
$bp-largest: 81.25em; // 1300 px
$bp-large: 75em; // 1200 px
$bp-medium: 56.25em; // 900 px
$bp-mediumest: 50em; // 800 px

/////////////////////////////////////


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and  (max-width: $bp-largest) {
        font-size: 50%;

    }

}

body{
    font-family: 'Roboto', sans-serif;
    color: $color-secondary;
    font-weight: 300;

    overflow-x: hidden;
    background-image: url('../img/background-home.png');
    background-repeat: repeat-y;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: [full-bleed] minmax(3.6rem,1fr) [starts] repeat(8, [col-start] minmax(10px,200px) [col-end]) [ends] minmax(3.6rem,1fr) [full-end];
    grid-template-rows: 170rem max-content max-content 13rem;
    row-gap: 15rem;

    @media only screen and  (max-width: $bp-large) {
        grid-template-rows: minmax(max-content,170rem) max-content max-content 13rem;

    }

    @media only screen and  (max-width: $bp-mediumest) {
        grid-template-rows: minmax(max-content,170rem) max-content max-content 27rem;

    }




}

    // Product page

    .container-product{
        display: grid;
        justify-content: center;
        grid-template-columns: [full-bleed] minmax(3.6rem,1fr) [starts] repeat(8, [col-start] minmax(10px,200px) [col-end]) [ends] minmax(3.6rem,1fr) [full-end];
        grid-template-rows: 100vh min-content  13rem;


        // @media only screen and  (max-width: $bp-largest) {
        //     grid-template-rows: 100vh min-content 13rem;
    
        // }



        @media only screen and  (max-width: $bp-medium) {
            grid-template-rows: 130vh min-content 33rem;
    
        }

        @media only screen and  (max-width: $bp-mediumest) {
            grid-template-rows: 130vh 1600px 33rem;
    
        }

    
        
    }


//////////////////////////////////////////////////////////////////////

.mb-small{
    margin-bottom: 2rem;
}

.mb-medium{
    margin-bottom: 4rem;
}