$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

.header{

    &-home{
        .btn{
            margin: auto auto 0 0;
        }
    
    }


    display: grid;
    grid-column: starts / ends;

    grid-template-columns: 65% 35%;
    grid-template-rows: min-content minmax(min-content,50rem) minmax(min-content,65rem);
    row-gap: 18rem;
    
    @media only screen and  (max-width: $bp-large) {
        row-gap: 13rem;
        grid-template-rows: min-content minmax(40rem,50rem) 200rem;

    }

    @media only screen and  (max-width: $bp-medium) {
        grid-template-columns: 100%;
        row-gap: 5rem;

    }

    .nav{
        display: flex;
        grid-column: 1 / 3;
        justify-content: space-between;
        margin-top: 4.7rem;
        grid-row: 1/2;
        
        
        &__list{
            display: flex;
            list-style: none;

            @media only screen and  (max-width: $bp-mediumest) {
                display: block;
        
            }
        
        }

        &__item{
            margin-left: 8rem;
        }

        &__link{
            font-size: 3rem;
            font-weight: 700;
            text-decoration: none;
            color: currentColor;
        }

    }

    &__text{
        align-self: center;
        grid-column: 1 / 2;
        grid-row: 2/3;

    }


    &__img{
        grid-column: 2/3;
        grid-row: 2/4;
        justify-self: end;
        margin-right: 3rem;

        @media only screen and  (max-width: $bp-large) {
            grid-column: 1/3;
            grid-row: 3/4;
            justify-self: center;
            margin: 0;
    
        }
    
    }

    &__about-us{
        align-self: end;
        grid-column: 1/2;
        grid-row: 3/4;

        @media only screen and  (max-width: $bp-large) {
            transform: translateY(-5rem);
            grid-column: 1/3;

    
        }
    
    }
}

.btn{
    grid-column: 1 / 2;
    grid-row: 2/3;
    border: 0;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: $color-primary;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 2.7rem 5.5rem;
    border-radius: 1rem;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: darken($color-primary, 4);
    }


}





.header-product{
    grid-template-columns: 70% 30%;
    height: 120vh;

    


    @media only screen and  (max-width: $bp-medium) {
        grid-template-rows: 20rem repeat(auto-fit,minmax(100px, 1fr));
        row-gap: 0;

    }


    .header__text{
        margin-top: 5rem;
        align-self: start;

        @media only screen and  (max-width: $bp-medium) {
            display: flex;
            flex-direction: column;
            grid-column: 1 / 3;
            grid-row: 2/-1;
            height: 100%;
            justify-content: space-between;
    
        }
    
    }

    .specs{
        display: flex;
        align-content: start;
        justify-items: center;
        font-size: 2.2rem;
        margin-top: 5rem;

        @media only screen and  (max-width: $bp-medium) {
            justify-content: center;
    
        }

    

        &__box{
            display: flex;
            flex-direction: column;

            &:not(:last-child){
                margin-right: 6rem;
            }
        }

        &__icon{
            align-self: center;
            display: block;
            width: 65px;
            height: auto;
        }

        &__name{
            display: block;
            text-align: center;
            font-weight: 300;
            margin-top: 1.5rem;
        }

        &__value{
            text-align: center;
            font-weight: 400;
        }
    }



    .header__details{
        grid-column: 2/3;
        grid-row: 2/3;

        @media only screen and  (max-width: $bp-medium) {
            grid-row: 2/8;
            grid-column: 1/3;


            &--box{
                margin-top: 27vh;
            }
    
        }


        .btn-disabled{
            background-color: #5B000F;
            margin-top: 1rem;
            cursor: not-allowed;
        }

        .btn{
            padding: 1.7rem 4.5rem;

        }

        &--text{
            font-size: 1.6rem;

            span{
                font-weight: 900;
                color: $color-primary;
            }
        }

        .break::before{
            content: '';
            display: block;
            height: 1px;
            width: 160%;
            left: 0;
            background-color: $color-primary;
            margin-bottom: 2rem;
            

            @media only screen and  (max-width: $bp-medium) {
                width: 40%;
                margin-left: -4rem;
        
            }

            @media only screen and  (max-width: $bp-mediumest) {
                width: 60%;
        
            }
        
    
        }
        
    }

    &__img{
        display: block;
        transform: translateX(-50px);
        margin-bottom: 10rem;

        @media only screen and  (max-width: $bp-medium) {
            transform: translateX(35%) translateY(50%);
    
        }

        @media only screen and  (max-width: $bp-mediumest) {
            transform: translateX(25%) translateY(50%);
    
        }


    
    }

}




#toggle {
    display: none; //hides the checkbox
}

  @media only screen and  (max-width: $bp-mediumest) {
    
        /* Toggle Functionality */

        
        
        // Styles for the 'open' state, if the checkbox is checked
        #toggle:checked {
            //Any element you need to change the style if menu is open goes here, using the sibling selector (~)
            & ~ .toggle-container .button-toggle {
            box-shadow: 0 0 0 550px rgba( 0, 0, 0, 0.1), inset 0 0 0 20px rgba( 0, 0, 0, 0.1);
        
            &:before {
                transform: translateY(-50%) rotate(45deg) scale(1);
            }
        
            &:after {
                transform: translateY(-50%) rotate(-45deg) scale(1);
            }
            }
        
            // Open Nav
            & ~ .nav {
            margin-bottom: 100px;
            pointer-events: auto;

            .nav__list{
                transform: translate(-50px, 50px);

            }
        
            // Restoring nav items from 'lines' in the menu icon
            .nav__item {
                letter-spacing: 0;
                height: 40px;
                line-height: 40px;
                margin-top: 1.3rem;
                opacity: 1;
                transform: scaleY(1);
                transition: $transition-duration, opacity 0.1s;
        
                .nav__link{
                    font-size: 3rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: $color-secondary;
                    
                }
        
        
                // Setting delays for the nav items in open transition
                @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($items - $i) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                    transition-delay: $delay;
                    }
                }
                }
        
                // Hide the lines
                &:before {
                opacity: 0;
                }
            }
            }
        
            & ~ .dummy-content {
            padding-top: 30px;
        
            &:before {
                background-color: rgba(0, 0, 0, 0.3);
                
            }
            }
        }
        
        /* Toggle Button */
        
        .toggle-container{
            width: 60px;
            height: 60px;
            grid-row: 1 / 2;
            justify-self: start;
            transform: translateY(3rem) translateX(-6rem);
            z-index: 1;

        }
        .button-toggle {
            position: absolute;
            display: inline-block;
            width: 60px;
            height: 60px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: 100%;
            transition: $transition-duration + 0.1;
            z-index: 1;
        
            // Shadow on Hover
            &:hover {
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
            }
        
            // Making the 'X' icon using `:before` and `:after` pseudo-elements
            // Initially hidden beause of `scale(0)` transformation
        
            &:before, &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $color-secondary;
            border-radius: 990px;
            transition: $transition-duration;
            }
        
            &:before {
            transform: translateY(-50%) rotate(45deg) scale(0);
            }
        
            &:after {
            transform: translateY(50%) rotate(-45deg) scale(0);
            }
        }
        
        /* Menu */
        
        .nav__list {
            transition: $transition-duration;
        }
        
        // Showing nav items as lines, making up the hamburger menu icon
        .nav__item {
            position: relative;
            display: inline-block;
            float: right;
            clear: both;
            color: transparent;
            font-size: 14px;
            letter-spacing: -6.2px;
            height: 10px;
            line-height: 7px;
            text-transform: uppercase;
            white-space: nowrap;
            transform: scaleY(0.5);
            transition: $transition-duration, opacity 1s;
            stroke-linecap: round;

            //Set delays for the nav items in close transition
            @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                $delay: ($i - 1) * $transition-delay;
                transition-delay: $delay;
                &:before {
                transition-delay: $delay;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;

                }
            }
            }
        
            // Adjusting width for first line
            &:nth-child(1) {
            letter-spacing: -8px;
            }
        
            // Adjusting width for second line
            &:nth-child(2) {
            letter-spacing: -12px;
            }
        
            // Adjusting width for second line
            &:nth-child(3) {
            letter-spacing: -9px;
            }
        
        
            //getting lines for the hamburger menu icon
            &:before {
            display: inline-block;
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color-secondary;
            transform: translateY(-50%) scaleY(5);
            transition: $transition-duration;
            }
        }


}   
