.logo{
    font-size: 3rem;
    font-weight: 900;

    span{
        color: $color-primary;
    }
}

.heading-1{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;

    span{
        color: $color-primary;
    }
}

.heading-3{
    font-size: 3rem;
    font-weight: 300;

    span{
        color: $color-primary;
    }
}

.heading-2{
    font-size: 4rem;
    font-weight: 500;
}